[basic]
filename_in   = new_crestron.xlsx
filename_out  = csv_crestron.csv
sheetname     = Alpha Listing
срок годности = 5

[download]
url_lk        = https://inter.ru
link_text     = CRESTRON RUS ENDUSER PRICE
#link_text     = Crestron Rus EndUser Price
filename_new  = new_crestron.xlsx
filename_old  = old_crestron.xlsx

                            #     !!!  ВАЖНО !!!    Имена полей должны быть lowercase !
[cols_in]                   # Проставить номер импортируемым колонкам. Остальным - пусто
number_      = 1
код_         = 2
description  = 3
цена1        = 4


[cols_out]                  # Выводимым колонкам проставить названия входных полей, остальным - пусто
продажа   = цена1
закупка   = цена1 * 0.57
бренд     = CRESTRON
группа    = CRESTRON
код       = код_
код производителя = код_
наименование = CRESTRON код_
описание     = description код_, number_
?            = ?