[basic]
filename_in   = new_projectors_canon.xlsx
filename_out  = csv_projectors_canon.csv
sheetname     = Проекторы и объективы
срок годности = 5

[download]
url_lk        = http://inter.ru/modal_forms/nojs/login
url_file      = Прайс-лист на проекторы Canon
filename_new  = new_projectors_canon.xlsx
filename_old  = old_projectors_canon.xlsx

#              !!!  ВАЖНО !!!   Имена полей должны быть lowercase !
                                

[cols_in]                       # Проставить номер импортируемым колонкам. Остальным - пусто
grp1        =2      B
grp2        =3      C
grp3        =4      D
артикул     =5
цена1       =6
цена2       =7
тип_        =9      I
разрешение  =10     J
яркость     =11     K
прочее      =12     L    



[cols_out]                      # Выводимым колонкам проставить названия входных полей, остальным - пусто
Закупка   = цена1 * .8
Продажа   = цена1
Бренд     = Canon
Группа    = Проекторы
Подгруппа = Столбец B + Столбец С - только если есть запись в Столбец D
Код       = Артикул (Столбец E)
Код производителя = Столбец D (если пусто, то Столбец C)
Наименование = Группа + Подгруппа + Бренд + Код производителя + Столбец I + Столбец J + Столбец K
Описание  = Группа + Подгруппа + Бренд + Код производителя + Столбец I + Столбец J + Столбец K + Столбец L
?         = ?